# Entorno virtual
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de logs
*.log

# Archivos de distribución
dist/
build/
*.egg-info/

# Archivos temporales
*.tmp
*.bak

# Archivos de sistema
.DS_Store
Thumbs.db